.body
{
  background-color:	#2a9df438;
}

.panel 
{
  background-color: white;
  border-radius: 5px;
  width: 95%;
  display: flex;
  margin: 20px auto;
}

.panel-body
{
  width: 95%;
  margin: 20px auto;
}

.btn-form 
{
  width: 100%;
}

/* Margins */

.margin-bottom-md 
{
  margin-bottom: 10px !important;
}

.margin-bottom-lg
{
  margin-bottom: 20px !important;
}

/* Buttons */

.btn-primary
{
  background-color: #1167b1 !important;
  border-color: #1167b1 !important;
}

.btn-primary:hover
{
  background-color: #03254c !important;
  border-color: #03254c !important;
}

.btn-secondary
{
  background-color: #adb5bd !important;
  border-color: #adb5bd !important;
  color: white !important;
}

.btn-secondary:hover 
{
  background-color: #6c757d !important;
  border-color: #6c757d !important;
  color: white !important;
  outline: none !important;
}

.btn-secondary:focus,
.btn-primary:focus,
.close,
#picture
{
  outline: none !important;
  box-shadow: none !important;
}

.is-invalid
{
  background-image: none !important;
}

.no-border
{
  border: none !important;
}

.margin-top-md 
{
  margin-top: 5px !important;
}